<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9E5D3B7C1E9B8D4D003DBF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E5D3B951E9B8D4D003DBF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E5D3BA01E9B8D4D003DBF83</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
